@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import "colors";
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
   font-family: $text1;
   scroll-behavior: smooth;

}